/* base.html */

body {
    background-color: white;
    font-family: "Montserrat", sans-serif;
}

.navbar-color {
    background-color: #f2eae3;
}

.logo {
    font-family: "Poiret One", cursive;
    font-size: 2rem;
    color: #322925;
}

.nav-item {
    font-family: "Montserrat", sans-serif;
    font-size: 120%;
}

.light-bg {
    background-color: #f2eae3;
}

.dark-bg {
    background-color: #322925;
}

.main-bg {
    background-color: white;
}

/* articles.html and articles_detail.html */

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
    width: 330px;
    height: 400px;
    overflow: hidden;
    display: inline-block;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #f2eae3;
}

.author {
    color: #322925;
    margin: 4px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #f2eae3;
    position: relative;
    font-family: "Poiret One", cursive;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #f2eae3;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #322925;
    font-family: "Poiret One", cursive;
}

.post-link:hover,
.page-link {
    color: #c36d4e;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
    color: #c36d4e;
}

.post-subtitle {
    margin-left: 5%;
    color: #c36d4e;
}

/* Like/ unlike hearts */

.btn-like {
    color: #c36d4e;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #c36d4e;
    background: transparent;
    border: none;
}

/* Sign-up */

.btn-signup {
    background-color: #c36d4e;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #f5f5f5;
    color: #c36d4e;
    border: 2px solid #c36d4e;
}

.link {
    color: #c36d4e;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #322925;
    text-decoration: underline;
}

/* index.hmtl */

.hero-text {
    color: white;
}

.book {
    font-family: "Poiret One", cursive;
    font-size: 200%;
}

.custom-btn {
    background-color: #c36d4e;
    border: none;
    width: 25%;
}

.custom-btn:hover,
.custom-btn:active,
.custom-btn:after {
    background-color: #f5f5f5;
    border: 2px solid #c36d4e;
    color: #c36d4e;
}

/* Yoga page - video background */

.video-background {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 50%;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.video-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Montserrat",
        sans-serif;
    text-align: center;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.book-btn {
    background-color: #c36d4e;
    border: 3px solid #f5f5f5;
}

.book-btn:hover,
.book-btn:active,
.book-btn:after {
    background-color: #f5f5f5;
    border: 3px solid #322925;
    color: #c36d4e;
}

/* My Bookings */

.no-dots {
    list-style-type: none;
}

/* Footer */

footer {
    font-family: "Montserrat", sans-serif;
}