{% extends 'base.html' %} {% block content %}

<!-- for the photo to be displayed -->
{% load static %}

<section class="hero d-flex align-items-center"
    style="background-image: url('{% static 'images/hero.jpg' %}'); background-size: cover; background-position: center; height: 700px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center hero-text">
                <h1>Welcome to DownwardDog Yoga Studio</h1>
                <p>
                    Embark on a journey of serenity through the practice of yoga, where
                    you can discover inner bliss and cultivate a sense of peace. And guess
                    what? We warmly welcome your furry friend to join in the experience!
                </p>
            </div>
        </div>
    </div>
</section>

<section class="classes col-lg-6 offset-lg-3 text-center">
    <div class="container">
        <div class="row">
            <h4 class="book">Learn more about our classes and book!</h4>
            <div class="col-12 d-flex justify-content-center">
                <a href="{% url 'yoga' %}" class="btn btn-primary btn-lg custom-btn">Get Started</a>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img src="{% static 'images/whiteback-pug.jpg' %}" alt="Dog doing yoga" class="img-fluid" />
            </div>
            <div class="col-lg-6">
                <h2>Our Story</h2>
                <p>Welcome to our unique yoga studio, where we have created a sanctuary for yoga practitioners and
                    animal lovers alike. Our journey began with a vision to build a community that embraces the
                    profound connection between yoga, nature, and our beloved furry friends. We wanted to create a
                    safe haven where individuals who share a deep love for yoga and puppies could come together and
                    find solace in their practice.
                    <br>
                    Driven by our passion for both yoga and dogs, we opened our doors with the mission to create a
                    special space where people could not only deepen their yoga practice but also bring their puppies
                    along. We believe that the presence of our furry friends brings an added sense of joy, comfort,
                    and connection to our yoga community.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Our Team</h2>
                <p>Our team consists of dedicated yoga instructors and animal enthusiasts who are committed to creating
                    a nurturing environment for both humans and their canine companions. Each member of our team shares
                    a deep appreciation for the healing power of yoga and the unconditional love of animals.
                    <br>
                    Our experienced yoga instructors have a profound understanding of the bond between yoga and animals.
                    They skillfully guide our classes, incorporating poses and sequences that not only benefit our human
                    practitioners but also ensure the comfort and safety of our furry attendees. Our studio is a place
                    where humans and dogs can practice side by side, fostering a sense of unity and shared energy.
                    <br>
                    In addition to our talented instructors, our compassionate staff ensures that every visit to our
                    studio is a welcoming and stress-free experience. From providing water bowls and comfortable resting
                    areas for our furry guests to offering guidance and support to our human practitioners, our team is
                    dedicated to creating a harmonious space where everyone feels at home.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="{% static 'images/team.jpg' %}" alt="Team Image" class="img-fluid" />
            </div>
        </div>
    </div>
</section>

<section class="feedback">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2>Reach Out</h2>
                <p>for general enquiries & feedback</p>
            </div>
            <div class="col-lg-8">
                <img src="#" alt="Map" class="img-fluid" />
            </div>
        </div>
    </div>
</section>
{% endblock content %}