{% extends "base.html" %}

{% block content %}
{% load static %}

<div class=" container text-center">
    {% if bookings %}
    <h2 class="text-center mt-5">My Bookings</h2>
    <ul class="mt-5">
        {% for booking in bookings %}
        <li>
            {% if approved %}
            <h5 class=" text-center mt-5">{{ booking.classes.title }} - booked by {{ booking.user.username }} is
                approved!</h5>
            <p class="text-center">See you soon!</p>
            {% elif already_booked %}
            <h5 class="text-center mt-5">You already booked the {{ booking.classes.title }} yoga class!
            </h5>
            <p class="text-center mt-5">Please wait for approval!</p>
            {% else %}
            <h5 class="text-center mt-5">{{ booking.classes.title }} - booked by {{ booking.user.username }} is pending!
            </h5>
            <p class="text-center mt-5">Please wait for approval!</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h2 class="text-center mt-5">You have no bookings yet!</h2>
    {% endif %}
    <br>
    <p class="text-center">Please note: All bookings are subject to admin approval</p>
    <br>
    <span class="image-container mb-1">
        <img src="{% static 'images/vizsla.jpg' %}" alt="Dog exercising">
    </span>
</div>

{% endblock %}