{% extends "base.html" %} {% block content %}

<!-- for the video to be displayed -->
{% load static %}

<div class="container">
    <!-- Video Section -->
    <section class="video-background">
        <video autoplay muted loop id="puppyVideo">
            <source src="{% static 'videos/puppy-yoga-video1.mp4' %}" type="video/mp4">
            Your browser does not support the video tag
        </video>
        <!-- Text on top-->
        <div class="overlay"></div>
        <div class="video-text">
            <h1>Our Classes</h1>
            <h5>Book now!</h5>
            <br>
            <i class="fa-solid fa-arrow-down fa-bounce fa-2xl" style="color: white;"></i>
        </div>
    </section>
</div>

<div class="container">
    <!-- Table Section -->
    <section class="col-12 mt-3">
        <div class="row card-deck">
            {% for class_instance in classes_list %}
            <div class="col-md-3">
                <div class="card" style="background-color: #c36d4e;">
                    <div class="card-body" style="color: #f2eae3;">
                        <h5 class="card-title">{{ class_instance.title }}</h5>
                        <p class="card-text">{{ class_instance.description }}</p>
                        <p class="card-text">Duration: {{ class_instance.duration_minutes }} minutes</p>
                        <a href="{% url 'yoga_detail' slug=class_instance.slug %}"
                            class="btn btn-primary">Availablities</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

{% endblock content %}